.login-container {
  display: flex;
  height: 100vh;
}

/* LEFT SIDE */
.login-left {
  flex: 1;
  background: #2f4590;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.brand-content h1 {
  margin-top: 20px;
  font-size: 36px;
}

.brand-content p {
  margin-top: 10px;
  font-size: 16px;
  width: 300px;
}

.logo {
  width: 150px;
}

/* RIGHT SIDE */
.login-right {
  flex: 1;
  background: #f4f6f9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  background: white;
  padding: 40px;
  width: 350px;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.login-card h2 {
  text-align: center;
  margin-bottom: 25px;
  color: #2f4590;
}

.login-card input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.login-card button {
  width: 100%;
  padding: 12px;
  background: #ff7a00;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.login-card button:hover {
  background: #e66900;
}

.alt-login {
  margin-top: 15px;
  text-align: center;
  font-size: 14px;
}

.alt-login span {
  color: #2f4590;
  font-weight: bold;
  cursor: pointer;
  
}
.alt-login {
  margin-top: 15px;
  text-align: center;
  font-size: 14px;
}

.alt-login span {
  color: #2f4590;
  font-weight: bold;
  cursor: pointer;
}